
body{
    background-color: #FF5733;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.grid-container {
    display: grid;
}

table {
    justify-content: center;
}

td {
    width: 10vh;
    height: 10vh;
    text-align: center;
    font-weight: bold;
    background: white;
    border-radius: 15px;
}